:root {
  --brandYellow: #ffcc00;
  --brandBackground: #f9f9f9;
  --brandGrey: #232528;
  --brandBlack: #000000;
  --brandPink: #ff3399;
}

html,
body {
  margin: 0px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif !important;
  color: var(--brandGrey);
  background-color: var(--brandBackground) !important;
}

.title {
  color: var(--brandBlack);
  text-transform: unset;
  font-family: "EB Garamond", serif;
}

.navbar {
  background-color: var(--brandYellow);
}

a,
a:link,
a:visited {
  text-decoration: none !important;
  color: var(--brandBlack) !important;
  font-size: 24px;
}

a:hover {
  color: white !important;
}

/* .active {
  font-style: italic;
} */

.fa-shopping-bag {
  font-size: 2em;
}
