:root {
  --brandBlue: #1b71b8;
  --brandBackground: #f2daee;
  --brandGrey: #232528;
  --brandBlack: #000000;
  --brandPink: #f2daee;
  --brandAqua: #a2dcf3;
  --brandRed: #ed4748;
}

html,
body {
  margin: 0px;
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif !important;
  color: var(--brandBlue);
  background-color: var(--brandBackground) !important;
}

.title {
  color: var(--brandRed);
  text-transform: unset;
  font-family: "EB Garamond", serif;
}

.navbar {
  background-color: var(--brandBlue);
}

a,
a:link,
a:visited {
  text-decoration: none !important;
  color: var(--brandBackground) !important;
  font-size: 16px;
  text-transform: uppercase;
}

a:hover {
  color: var(--brandPink) !important;
}

/* .active {
  font-style: italic;
} */

.fa-shopping-bag {
  font-size: 2em;
  color: var(--brandPink);
}
